@using LojaProdutos.Models
@model List<ProdutosModel>

<div class="container">
    <div class="text-center mb-5">
        <form method="get" asp-action="Index" asp-controller="Home" class="d-flex justify-content-center">
            <input type="search" name="pesquisar" value="" class="form-control w-50 mx-2" style="border:1px solid black" />
            <button type="submit" class="btn btn-outline-dark">Pesquisar</button>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">

        @if (Model != null)
        {
            @if (Model.Where(x => x.QuantidadeEstoque > 0).Count() > 0)
            {
                foreach (var produto in Model.Where(x => x.QuantidadeEstoque > 0))
                {
                    <div class="card" style="width:15rem; margin-left: 20px; margin-bottom:20px">

                        <h5 class="card-title position-absolute" style="background-color: rgba(0, 0, 0, 1); color: white; padding: 5px;">@produto.Nome</h5>
                        <img src="~/imagens/@produto.Foto" class="card-img-top" alt="@produto.Nome" style="height:10em; width:100%">
                        <div class="card-body">
                            <h5 class="card-title">@produto.Nome</h5>
                            <p class="card-text">@produto.Marca</p>
                            <p class="card-text">R$ @produto.Valor.ToString("F")</p>

                            <a class="btn btn-primary" asp-action="Detalhes" asp-controller="Produtos" asp-route-id="@produto.Id">Detalhes</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>